body {
    display: flex;
    background-color: #ff99ee;
    flex-direction: column;
    margin: 10px;
    height: 100vh;
    padding: 0px;
    margin-top: 0;
}

div {
    border-radius: 10px;
    margin: 5px;
    background-color: #ffffff;
    gap: 5px;
}

a {
    display: flex;
    text-decoration: none;
    color: #2211ff;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer {
    padding: 0;
    flex: 0.5;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0;
    background-color: #55eeff;
    border-top: 1px solid;
    border-radius: 0 0 10px 10px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #55eeff;
    max-width: 100%;
    flex: 1;
}

.main {
    display: flex;
    flex: 8;
    background-color: #ff99ee;
    flex-direction: column;
}

.main .link {
    margin: 0;
}