body{
    display: flex;
    background-color: #eee;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}
div{
    /* border: 1px solid #000; */
}
a{
    display: flex;
    margin: 2px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.footer{
    margin: 0;
    padding: 0;
    flex: 0.5;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.header{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    max-width: 100%;
    flex: 1;
    margin: 0;
}
.main{
    display: flex;
    flex: 8;
}